<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Not found!</title>
    </head>

    <body>
        <div class="max-w-96 mx-auto mt-20">
            <h1 class="text-lg">Page Not Found 😔</h1>
            <p>
                Go start page <a
                    class="underline italic"
                    href="https://doravoice.com">https://doravoice.com</a
                >
            </p>
            <p class="mt-10 text-neutral-300">野渡无人舟自横...</p>
        </div>
    </body>
</html>
