<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Not found!</title>
    </head>

    <body>
        <div class="max-w-96 mx-auto mt-20">
            <h1 class="text-lg">😔 Not Found</h1>
            <p>
                Go start page <a
                    class="text-fuchsia-600"
                    href="https://amymind.com">https://amymind.com</a>
            </p>
        </div>
    </body>
</html>
