---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import { Image } from "astro:assets";
import lightEffect from "../assets/light-effect.svg";
---

<Layout title="AmyMind">
	<!-- 头部 -->
	<div class="header">
		<img src='/src/assets/light-effect.svg' alt="light effect" />
		<Navbar />
	</div>

	<!-- Mindmap -->
	<div class="section mindmap-part" id="mindmap">
		<h2 class="product-sologan">
			<p>
				One Sentence to <span class="mindmap"
					>Mindmap<i class="ai-sign">AI-Powered</i></span
				>
			</p>
			<p>
				One Click to
				<span class="ticker">
					<span class="ppt">PowerPoint</span>
					<span class="md">Markdown</span>
					<span class="pdf">PDF</span>
					<span class="doc">Word</span>
				</span>
			</p>
		</h2>
		<div class="product-description">
			The modern mind mapping tool that aids the entire process of data
			collection, brainstorming, and final presentation all in one
			workflow.
		</div>
		<a
			href="https://app.amymind.com/mindmap/new"
			class="action-button black-button border-radius-12"
			>Create Mindmap from One Sentence →</a
		>
		<div class="language-switch">
			<a href="./cn/index.html">访问中文版 →</a>
		</div>
		<div class="feature-list">
			<div class="tab">
				<div
					class="item border-radius-16"
					data-target=".feature-import"
				>
					<div class="icon">
						<img
							src="/src/assets/mindmap-import.svg"
							alt="Import with Ease"
						/>
					</div>
					<div class="content">
						<div class="title">Import with Ease</div>
						<div class="description">
							Including markdown, txt, freemind, and webpages,
							making data collection effortless.
						</div>
					</div>
				</div>
				<div
					class="item border-radius-16 actived"
					data-target=".feature-ai"
				>
					<div class="icon">
						<img
							src="/src/assets/mindmap-ai.svg"
							alt="Inspiration at Your Fingertips"
						/>
					</div>
					<div class="content">
						<div class="title">Inspiration at Your Fingertips</div>
						<div class="description">
							Utilize AI-powered dialogue to generate branch nodes
							or entire mind maps, sparking fresh ideas and
							insights.
						</div>
					</div>
				</div>
				<div
					class="item border-radius-16"
					data-target=".feature-export"
				>
					<div class="icon">
						<img
							src="/src/assets/mindmap-export.svg"
							alt="Workflow Integration"
						/>
					</div>
					<div class="content">
						<div class="title">Workflow Integration</div>
						<div class="description">
							Export PDF, image, text, ppt, docx... for further
							modification in PowerPoint, Word, and beyond.
						</div>
					</div>
				</div>
			</div>
			<div class="content">
				<!-- import file card -->
				<div class="item border-radius-16 feature-import medium-shadow">
					<div class="file-card-list">
						<div class="file-card border-radius-4 medium-shadow">
							<img
								src="/src/assets/file-markdown.svg"
								alt="markdown"
							/>
						</div>
						<div class="file-card border-radius-4 medium-shadow">
							<img
								src="/src/assets/file-freemind.svg"
								alt="freemind"
							/>
						</div>
						<div class="file-card border-radius-4 medium-shadow">
							<img
								src="/src/assets/file-webpage.svg"
								alt="webpage"
							/>
						</div>
						<div class="file-card border-radius-4 medium-shadow">
							<img src="/src/assets/file-text.svg" alt="text" />
						</div>
					</div>
					<img
						class="screenshot border-radius-12 medium-shadow"
						src="/src/assets/screenshot-import.png"
						alt="Screenshot - Supported file formats for import"
					/>
					<img
						class="mindmap-shape"
						src="/src/assets/mindmap-shape.svg"
						alt="Mindmap diagram"
					/>
				</div>
				<!-- AI feature card -->
				<div
					class="item border-radius-16 actived feature-ai medium-shadow"
				>
					<img
						class="screenshot border-radius-12 dark-shadow"
						src="/src/assets/screenshot-chat.png"
						alt="Screenshot - AI chat generate mindmap"
					/>
					<img
						class="mindmap-shape"
						src="/src/assets/mindmap-shape.svg"
						alt="Mindmap diagram"
					/>
				</div>
				<!-- export file card -->
				<div class="item border-radius-16 feature-export medium-shadow">
					<img
						class="screenshot border-radius-12 dark-shadow"
						src="/src/assets/screenshot-export.png"
						alt="Screenshot - Supported file formats for export "
					/>
					<img
						class="mindmap-shape"
						src="/src/assets/mindmap-shape.svg"
						alt="Mindmap diagram"
					/>
					<div class="file-card-list">
						<div class="file-card border-radius-4 medium-shadow">
							<img src="/src/assets/file-ppt.svg" alt="PowerPoint" />
						</div>
						<div class="file-card border-radius-4 medium-shadow">
							<img src="/src/assets/file-word.svg" alt="Word" />
						</div>
						<div class="file-card border-radius-4 medium-shadow">
							<img
								src="/src/assets/file-markdown.svg"
								alt="Markdown"
							/>
						</div>
						<div class="file-card border-radius-4 medium-shadow">
							<img src="/src/assets/file-pdf.svg" alt="PDF" />
						</div>
						<div class="file-card border-radius-4 medium-shadow">
							<img src="/src/assets/file-text.svg" alt="Text" />
						</div>
						<div class="file-card border-radius-4 medium-shadow">
							<img src="/src/assets/file-image.svg" alt="Image" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Whiteboard -->
	<div class="section" id="whiteboard">
		<h2 class="product-sologan">
			Modern Whiteboard tool with clear design
		</h2>
		<div class="product-description">
			The old and complicated menu is not a standard feature of drawing
			applications. AmyMind Whiteboard is such a productivity tool. It is
			simple and elegant, and has super high efficiency.
		</div>
		<a
			href="https://app.amymind.com/graph/new"
			class="action-button black-button border-radius-12"
			>Create Whiteboard for free →</a
		>
		<div class="feature-list-grid">
			<div class="item border-radius-16 feature-simple">
				<div class="icon">
					<img
						src="/src/assets/whiteboard-simple-icon.svg"
						alt="simple"
					/>
				</div>
				<div class="content">
					<div class="title">Simple, but efficient</div>
					<div class="description">
						No outdated menus, screens full of small windows.
						Supports toolbars, quick editing of graphic styles.
					</div>
					<img
						class="picture"
						src="/src/assets/whiteboard-simple.svg"
						alt="simple"
					/>
				</div>
			</div>
			<div class="item border-radius-16 feature-productivity">
				<div class="icon">
					<img
						src="/src/assets/whiteboard-productivity-icon.svg"
						alt="productivity"
					/>
				</div>
				<div class="content">
					<div class="title">Productivity tools, no joking</div>
					<div class="description">
						It’s not just casual drawing, but it can also draw
						flowcharts, UML diagrams and other work scene diagrams.
					</div>
					<img
						class="picture"
						src="/src/assets/whiteboard-productivity.svg"
						alt="productivity"
					/>
				</div>
			</div>
			<div class="item border-radius-16 feature-fast">
				<div class="icon">
					<img src="/src/assets/whiteboard-fast-icon.svg" alt="fast" />
				</div>
				<div class="content">
					<div class="title">Fast, edit online</div>
					<div class="description">
						No need to download and install software to the local
						computer, support online editing of charts.
					</div>
					<img
						class="picture"
						src="/src/assets/whiteboard-fast.svg"
						alt="fast"
					/>
				</div>
			</div>
		</div>
	</div>

	<!-- Design for All Platforms -->
	<div class="section">
		<h2 class="product-sologan">Design for All Platforms</h2>
		<div class="product-description">
			The web version is just the beginning, AmyMind will gradually cover
			all popular platforms.
		</div>
		<div class="platform-list">
			<div class="item available">
				<img src="/src/assets/plateform-webpage.svg" alt="Webpage" />
				<div class="title">Web</div>
				<span class="date border-radius-16">Available now</span>
			</div>
			<div class="item">
				<img src="/src/assets/platform-windows.svg" alt="Windows" />
				<div class="title">Windows</div>
				<span class="date border-radius-16">2024 Mid</span>
			</div>
			<div class="item">
				<img src="/src/assets/plateform-mac.svg" alt="MacOS" />
				<div class="title">MacOS</div>
				<span class="date border-radius-16">2024 Mid</span>
			</div>
			<div class="item">
				<img src="/src/assets/platform-mobile.svg" alt="Mobile" />
				<div class="title">Mobile</div>
				<span class="date border-radius-16">In the further</span>
			</div>
		</div>
	</div>

	<!-- Pricing -->
	<div class="section" id="pricing">
		<h2 class="product-sologan">Pricing</h2>
		<div class="product-description">
			Friends with limited budget are welcome to use it for free. If you
			need, you can consider upgrading the membership plan.
		</div>
		<div class="rateplan">
			<div class="item starter medium-shadow border-radius-16">
				<div class="title">Free</div>
				<div class="description">For occasional users</div>
				<div class="price">
					<div>$0<span>/Month</span></div>
				</div>
				<a class="subscribe-button">Current Plan</a>
				<ul>
					<li>Mindmap App</li>
					<li>WhiteBoard App</li>
					<li>Export png, pdf, doc...</li>
					<li>10 AI-actions/day</li>
					<li>20 Diagrams</li>
					<li>50MB Storeage</li>
				</ul>
			</div>
			<div class="item pro dark-shadow border-radius-16">
				<div class="title">AmyMind Pro</div>
				<div class="description">
					For professional users who often draw and organize diagrams.
				</div>
				<div class="price">
					<div>$4.99<span>/Month</span></div>
				</div>
				<a
					class="subscribe-button enabled"
					href="https://app.amymind.com/home/membership"
					>Upgrade to Pro</a
				>
				<ul>
					<li>Mindmap App</li>
					<li>WhiteBoard App</li>
					<li>Export png, pdf, doc...</li>
					<li class="hilight">200 AI-actions/day</li>
					<li class="hilight">Unlimited Diagrams</li>
					<li class="hilight">500MB Storeage</li>
					<li class="hilight">Folder Manager</li>
				</ul>
			</div>
		</div>
	</div>

	<!-- Follow -->
	<div class="section">
		<h2 class="product-sologan">Follow AmyMind</h2>
		<div class="product-description">
			The growth of AmyMind could not be separated from the support and
			help of friends in the community. You are always welcome to
			communicate with us and make AmyMind better together!
		</div>
		<div class="info-list">
			<div class="item border-radius-16">
				<div class="icon">🧭</div>
				<div class="content">
					<div class="title">Road Map</div>
					<div class="description">
						AmyMind development plan, you can keep track of feature
						development progress here
					</div>
					<a
						class="link"
						href="https://trello.com/b/AZNWVbcE/amymind-roadmap"
						>Detail →</a
					>
				</div>
			</div>
			<div class="item border-radius-16">
				<div class="icon">📧</div>
				<div class="content">
					<div class="title">Contact Us</div>
					<div class="description">
						Send me an email if you have any questions.The email
						contact is ahshengchen, sevice at gmail.com
					</div>
				</div>
			</div>
			<div class="item border-radius-16">
				<div class="icon">💁‍♀️</div>
				<div class="content">
					<div class="title">Official Resellers</div>
					<div class="description">Sales partner of AmyMind</div>
					<a class="link" href="./legal/official-resellers.html"
						>Detail →</a
					>
				</div>
			</div>
		</div>
	</div>

	<!-- 底部 -->
	<div class="footer">
		<div class="main">AmyMind</div>
		<div class="sub">
			<a class="link" href="./legal/privacy-policy.html">Privacy Policy</a
			>
			<a class="link" href="./legal/terms-of-service.html"
				>Terms of Service</a
			>
			<a class="link" href="./legal/refund-policy.html">Refund Policy</a>
			<a class="link">© AmyMind 2023</a>
		</div>
	</div>
</Layout>

<style>
	.section {
		background: linear-gradient(
			180deg,
			#f7f8fa 0px,
			rgba(247, 248, 250, 0) 300px
		);
		padding-top: 52px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.section.mindmap-part {
		padding-top: 124px;
	}
</style>
