---
import { Image } from "astro:assets";
import {
	getLangFromUrl,
	useTranslations,
	useTranslatedPath,
} from "../i18n/utils";

import ScreenshotHero from "/src/assets/screenshot-hero.png";
import { Icon } from "astro-icon/components";
import Logo from "/src/assets/logo.png";
import LogoText from "/src/assets/logo-text.png";
import LogoTextSlim from "/src/assets/logo-text-slim.png";
import DownloadBadgeAppStore from "/src/assets/download-badge-app-store.svg";
import DownloadBadgeGooglePlay from "/src/assets/download-badge-google-play.png";

import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<Layout
	title="DoraVoice - AI Transcription and Translation"
	description="DoraVoice is a free AI app for effortless transcription and translation."
	keywords="transcription, translation, AI, artificial intelligence, transcription and translation"
>
	<!-- Head -->
	<div class="pt-8 bg-gray-100">
		<!-- navbar -->
		<Navbar />
		<!-- Hero -->
		<div class="max-w-[900px] mx-auto mt-4 flex space-x-8 justify-between">
			<div class="pt-28 pl-8 relative">
				<div id="glow-button" class="rounded-xl w-10">
					<Image
						src={Logo}
						class="rounded-xl w-10 shadow-lg mb-1 ml-1"
						alt="DoraVoice"
					/>
				</div>
				<div class="text-black mb-8 text-5xl font-bold tracking-tight">
					Tune into content <br /> in your native tongue
				</div>
				<div class="text-gray-500 text-lg mb-8">
					Listen to podcasts and webpages in your native tongue,
					without the need for a translator.
				</div>
				<!-- Download Badges -->
				<div class="flex space-x-4">
					<a href="#">
						<Image
							src={DownloadBadgeAppStore}
							alt="Download Badge App Store"
							class="w-36 hover:shadow-lg transition-all cursor-pointer"
						/>
					</a>
					<a href="#">
						<Image
							src={DownloadBadgeGooglePlay}
							alt="Download Badge Google Play"
							class="w-36 hover:shadow-lg transition-all cursor-pointer hidden"
						/>
					</a>
				</div>
			</div>
			<div class="max-w-96 h-[500px] overflow-hidden">
				<Image
					id="hero"
					class="w-full"
					src={ScreenshotHero}
					alt="DoraVoice Screenshot"
				/>
			</div>
		</div>
	</div>

	<!-- Features -->
	<div
		id="features"
		class="pt-16 flex flex-col mb-20 items-center bg-gradient-to-b from-gray-50 to-white to-10%"
	>
		<h2 class="text-3xl font-medium text-center tracking-tight">
			Transcribe, Translate, and Read
		</h2>
		<div class="pb-8 text-gray-600 text-lg">
			Transcribe and translate audio and text content in your native
			tongue.
		</div>
		<div class="flex justify-between max-w-[900px] rounded-xl gap-x-4">
			<div class="p-3 w-1/4 rounded-xl bg-gray-50 border border-gray-100">
				<Icon
					name="fluent:comment-text-24-regular"
					color="black"
					size={32}
				/>
				<h3 class="font-medium text-normal leading-none mt-4 mb-2">
					Audio Transcription
				</h3>
				<div>
					<p class="text-gray-500 text-sm">
						Accurately & easily transcribe podcasts and other audio
						content into text.
					</p>
				</div>
			</div>
			<div class="p-3 w-1/4 rounded-xl bg-gray-50 border border-gray-100">
				<Icon
					name="fluent:translate-auto-16-regular"
					size={32}
					color="black"
				/>
				<h3 class="font-medium text-normal leading-none mt-4 mb-2">
					Intelligent Translation
				</h3>
				<div>
					<p class="text-gray-500 text-sm">
						Translate webpages, subtitles, and other text content
						into your native language.
					</p>
				</div>
			</div>
			<div class="p-3 w-1/4 rounded-xl bg-gray-50 border border-gray-100">
				<Icon
					name="fluent:person-voice-24-regular"
					size={32}
					color="black"
				/>
				<h3 class="font-medium text-normal leading-none mt-4 mb-2">
					Natural Reading
				</h3>
				<div>
					<p class="text-gray-500 text-sm">
						Read translated content with natural and fluent speech,
						enhancing the auditory experience.
					</p>
				</div>
			</div>
			<div class="p-3 w-1/4 rounded-xl bg-gray-50 border border-gray-100">
				<Icon
					name="fluent:airplane-24-regular"
					size={32}
					color="black"
				/>
				<h3 class="font-medium text-normal leading-none mt-4 mb-2">
					Offline Access
				</h3>
				<div>
					<p class="text-gray-500 text-sm">
						Once transcribed & translated done, content is stored
						offline for quick access.
					</p>
				</div>
			</div>
		</div>
	</div>
</Layout>

<Footer />

<style>
	#glow-button {
		position: relative;
		z-index: 0;
	}

	#glow-button:before {
		content: "";
		background: linear-gradient(
			45deg,
			#ff0000,
			#ff7300,
			#fffb00,
			#48ff00,
			#00ffd5,
			#002bff,
			#7a00ff,
			#ff00c8,
			#ff0000
		);
		position: absolute;
		top: -2px;
		left: -2px;
		background-size: 400%;
		z-index: -1;
		filter: blur(20px);
		width: calc(100% + 4px);
		height: calc(80% + 4px);
		animation: glowing 20s linear infinite;
		opacity: 0.3;
		transition: opacity 0.28s ease-in-out;
	}

	#glow-button:active {
		/* color: #000 */
	}

	#glow-button:active:after {
		background: transparent;
	}
	#glow-button:hover:before {
		opacity: 0.5;
	}

	#glow-button:after {
		z-index: -1;
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}

	@keyframes glowing {
		0% {
			background-position: 0 0;
		}
		50% {
			background-position: 400% 0;
		}
		100% {
			background-position: 0 0;
		}
	}
</style>
