---
---

<div class="mx-auto max-w-5xl flex justify-between mb-12 border-t pt-2 text-sm">
	<div>AmyMind</div>
	<div class="flex space-x-4 text-neutral-500">
		<a class="hover:text-neutral-800" href="./legal/privacy-policy.html">Privacy Policy</a>
		<a class="hover:text-neutral-800" href="./legal/terms-of-service.html">Terms of Service</a>
		<a class="hover:text-neutral-800" href="./legal/refund-policy.html">Refund Policy</a>
		<a class="hover:text-neutral-800">© AmyMind 2023</a>
	</div>
</div>
<style></style>
