---
import { Image } from "astro:assets";
import amymindLogo from "./src/assets/logo.svg";

// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }

// const { href, title, body } = Astro.props;
---

<div id="feature-list" class="flex space-x-4">
	<div id="tab" class="w-2/5 flex flex-col space-y-2">
		<div
			class="flex bg-neutral-100 rounded-xl py-3 px-2 items-start space-x-2 actived"
			data-target="#feature-ai"
		>
			<img
				class="w-14 flex-shrink-0"
				src="/src/assets/mindmap-ai.svg"
				alt="Inspiration at Your Fingertips"
			/>
			<div>
				<div class="text-lg font-bold leading-none mb-2">
					With AI, Craft Mind Maps from an Idea!
				</div>
				<div class="text-sm text-neutral-500">
					Unleash your creativity and clarify your thoughts. Our
					product uses the power of Artificial Intelligence to convert
					your simple idea into a comprehensive mind map.
				</div>
			</div>
		</div>
		<div
			class="flex rounded-xl py-3 px-2 items-start space-x-2"
			data-target="#feature-import"
		>
			<img
				class="w-14 flex-shrink-0"
				src="/src/assets/mindmap-import.svg"
				alt="Import with Ease"
			/>
			<div>
				<div class="text-lg font-bold leading-none mb-2">
					Documents to Mind Maps, Instantly!
				</div>
				<div class="text-sm text-neutral-500">
					Turn markdown, txt, freemind into clear, organized mind
					maps. Say goodbye to clutter, hello to clarity with our
					innovative feature. Simplify, visualize, create!
				</div>
			</div>
		</div>
		<div
			class="flex rounded-xl py-3 px-2 items-start space-x-2"
			data-target="#feature-export"
		>
			<img
				class="w-14 flex-shrink-0"
				src="/src/assets/mindmap-export.svg"
				alt="Workflow Integration"
			/>
			<div>
				<div class="text-lg font-bold leading-none mb-2">
					Export Easier, Power with AI!
				</div>
				<div class="text-sm text-neutral-500">
					Now export in PowerPoint, PDF, or Word formats for easy
					edits and seamless workflow transitions.
				</div>
			</div>
		</div>
	</div>

	<div id="content" class="w-3/5">
		<!-- AI feature card -->
		<div
			id="feature-ai"
			class="block relative h-96 shadow-xl overflow-hidden bg-neutral-100 rounded-xl feature-import medium-shadow bg-gradient-to-br from-pink-400/50 to-purple-600/50"
		>
			<img
				class="rounded-xl w-11/12 opacity-80 absolute -left-1 -top-4"
				style="mask-image:linear-gradient(270deg, black 0%, transparent 90%),
				linear-gradient(0deg, black 0%, transparent 90%)"
				src="/src/assets/screenshot-chat.png"
				alt="Screenshot - AI chat generate mindmap"
			/>
			<img
				class="opacity-20 absolute left-0 top-16 scale-90"
				src="/src/assets/mindmap-shape.svg"
				alt="Mindmap diagram"
			/>
		</div>
		<!-- import file card -->
		<div
			id="feature-import"
			class="hidden relative h-96 shadow-xl overflow-hidden bg-neutral-100 rounded-xl feature-import medium-shadow bg-gradient-to-br from-green-500/50 to-green-500/10"
		>
			<div
				class="absolute left-1/2 top-6 -translate-x-1/2 flex space-x-4"
			>
				<img
					class="rounded-lg shadow-lg py-4 px-3 bg-gradient-to-b from-white/90 to-white/60"
					src="/src/assets/file-markdown.svg"
					alt="markdown"
				/>
				<img
					class="rounded-lg shadow-lg py-4 px-3 bg-gradient-to-b from-white/90 to-white/60"
					src="/src/assets/file-freemind.svg"
					alt="freemind"
				/>
				<img
					class="rounded-lg shadow-lg py-4 px-3 bg-gradient-to-b from-white/90 to-white/60"
					src="/src/assets/file-webpage.svg"
					alt="webpage"
				/>
				<img
					class="rounded-lg shadow-lg py-4 px-3 bg-gradient-to-b from-white/90 to-white/60"
					src="/src/assets/file-text.svg"
					alt="text"
				/>
			</div>
			<img
				class="rounded-xl w-4/5 opacity-80 absolute left-1/2 top-28 -translate-x-1/2"
				style="mask-image:linear-gradient(180deg, black 0%, transparent 90%)"
				src="/src/assets/screenshot-import.png"
				alt="Screenshot - Supported file formats for import"
			/>
			<img
				class="opacity-20 absolute left-16 top-48 scale-90"
				src="/src/assets/mindmap-shape.svg"
				alt="Mindmap diagram"
			/>
		</div>
		<!-- export file card -->
		<div
			id="feature-export"
			class="hidden relative h-96 shadow-xl overflow-hidden bg-neutral-100 rounded-xl feature-import medium-shadow bg-gradient-to-br from-orange-400/50 to-yellow-400/50"
		>
			<img
				class="rounded-xl w-4/5 opacity-80 absolute -left-16 top-8"
				style="mask-image:linear-gradient(180deg, black 0%, transparent 90%)"
				src="/src/assets/screenshot-export.png"
				alt="Screenshot - Supported file formats for export "
			/>
			<img
				class="opacity-20 absolute left-4 top-40 scale-90"
				src="/src/assets/mindmap-shape.svg"
				alt="Mindmap diagram"
			/>
			<div
				class="absolute right-2 top-1/2 -translate-y-1/2 flex w-1/4 flex-wrap"
			>
				<img
					class="mb-4 mr-4 rounded-lg shadow-lg py-4 px-3 bg-gradient-to-b from-white/90 to-white/60"
					src="/src/assets/file-ppt.svg"
					alt="PowerPoint"
				/>
				<img
					class="mb-4 mr-4 rounded-lg shadow-lg py-4 px-3 bg-gradient-to-b from-white/90 to-white/60"
					src="/src/assets/file-word.svg"
					alt="Word"
				/>
				<img
					class="mb-4 mr-4 rounded-lg shadow-lg py-4 px-3 bg-gradient-to-b from-white/90 to-white/60"
					src="/src/assets/file-markdown.svg"
					alt="Markdown"
				/>
				<img
					class="mb-4 mr-4 rounded-lg shadow-lg py-4 px-3 bg-gradient-to-b from-white/90 to-white/60"
					src="/src/assets/file-pdf.svg"
					alt="PDF"
				/>
				<img
					class="mb-4 mr-4 rounded-lg shadow-lg py-4 px-3 bg-gradient-to-b from-white/90 to-white/60"
					src="/src/assets/file-text.svg"
					alt="Text"
				/>
				<img
					class="mb-4 mr-4 rounded-lg shadow-lg py-4 px-3 bg-gradient-to-b from-white/90 to-white/60"
					src="/src/assets/file-image.svg"
					alt="Image"
				/>
			</div>
		</div>
	</div>
</div>
<style>
	#tab .actived: {
		display: block;
	}
</style>
