---
import { Image } from "astro:assets";
import amymindLogo from "../assets/logo.svg";

// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }

// const { href, title, body } = Astro.props;
---

<div class="mx-auto max-w-5xl rounded-xl shadow-xl shadow-black/5 border-black/10 border backdrop-blur p-2 bg-white/50 flex items-center">
	<div class="flex-grow flex items-center">
		<a href="./index.html">
			<img src="/src/assets/logo.svg" class="logo" alt="AmyMind的logo" />
		</a>
		<div class="navigator-list flex-1 items-center">
			<a class="item rounded" href="#mindmap">思维导图</a>
			<a class="item rounded" href="#whiteboard">白板</a>
			<a class="item rounded" href="#pricing">价格</a>
		</div>
	</div>
	<div class="aciton-list">
		<a class="item rounded" href="https://app.amymind.com/account/login"
			>登录</a
		>
		<a
			class="item black-button border-radius-8"
			href="https://app.amymind.com/account/signup">注册</a
		>
	</div>
</div>
<style>
</style>
