---
import { Image } from "astro:assets";
import Logo from "/src/assets/logo.png";
import LogoText from "/src/assets/logo-text.png";
import LanguagePicker from "../components/LanguagePicker.astro";
import {
	getLangFromUrl,
	useTranslations,
	useTranslatedPath,
} from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const t = useTranslations(lang);
---

<div
	class="max-w-[900px] mx-auto rounded-xl shadow-xl shadow-black/5 border-black/10 border backdrop-blur px-4 py-2 bg-white/50 flex items-center text-neutral-700"
>
	<div class="flex-grow flex items-center space-x-4">
		<a href="/" title="DoraVoice">
			<Image src={LogoText} class="w-28" alt="DoraVoice" /></a
		>
		<div class="flex-1 items-center space-x-1 leading-none">
			<!-- <a
 				class="rounded-md transition-all px-2 py-1.5 hover:bg-gray-200 hover:text-black"
				href={translatePath("/#features")}>{t("nav.features")}</a
			> -->
			<!-- <a
				class="rounded-md transition-all px-2 py-1.5 hover:bg-gray-200 hover:text-black"
				href={translatePath("/user-guide")}>{t("nav.user-guide")}</a
			> -->
		</div>
	</div>
	<div class="space-x-4 flex items-center">
		<LanguagePicker />
	</div>
</div>
<style></style>
