---

---
<div
  class="
  prose-h1:font-bold
  prose-h1:pb-4
  prose-h2:pb-4
  prose-h3:pb-1
  prose-h1:text-4xl
  prose-h2:text-xl
  prose-h2:font-bold
  prose-h3:font-bold
  prose-p:pb-4
  prose-ol:pb-4
  prose-li:text-base
  prose-li:text-gray-600
  prose-p:leading-relaxed
  prose-li:leading-relaxed
  prose-p:text-gray-600
  prose-ol:list-decimal
  prose-ol:list-inside
  prose-ul:list-disc
  prose-ul:list-inside
  prose-ul:pl-1
  prose-ul:pb-4
  prose-p:text-base
  prose-a:underline
  prose-a:italic
  prose-img:max-w-60"
>
  <slot />
</div>
